/* Set the table color, border, and spacing */
table.cal {
    color: #06425C;
    border-spacing: 0;
    border: 3px solid black;
    -webkit-border-radius: 25px 25px 0 0;
    border-radius: 0 0 25px 25px;
}

/* Alternate colors between even and odd weeks */
tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #cdbb79;
}

/* To curve the bottom, we need to curve the row and the element. Each
element needs to curve a different corner */

tr:last-child {
    border-radius: 0 0 25px 25px;
}

tr:last-child>td:first-child {
    border-radius: 0 0 0 25px;
}

tr:last-child>td:last-child {
    border-radius: 0 0 25px 0;
}

/* Format the caption */
.cal caption {
    text-transform: uppercase;
    background-color: #666666;
    color: #ffffff;
    font-size: 150%;
    border-radius: 25px 25px 0 0;
}

/* Format common heading and element attributes */
.cal th, .cal td {
    margin: 2px;
    padding-bottom: 2px;
}

/* Format the table headings */
th {
    text-align: center;
    background-color: #ffffff;
}

/* Set the size and alignment for elements */
.cal td {
    width: 75px;
    height: 75px;
    vertical-align: top;
}

/* Format any holidays */
.holiday {
    margin: 0;
    padding: 0;
    background-color: rgb(38, 158, 54);
}

/* Use a background image */
.next {
    padding: 0;
    margin: 0;
    background-color: #51a39d;
    color: rgba(0, 0, 0, .25);
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/389177/holiday.png") no-repeat;
}

/* By default, hide appointments */
span {
    display: block;
    text-align: center;
    color: red;
    visibility: hidden;
}

/* Show appointments when the date is clicked */
td:active>span {
    visibility: visible;
}