body {
    padding: 5px;
    margin: 5px;
}

main {
    display: inline-block;
}

/* Unable to get the local images to work */

header {
    background-image: url("http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg");
    background-color: rgb(138, 43, 226);
}

nav > a {
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 40px;
    margin: 5px;
    display: inline-block;
    text-decoration: none;
    background-color: rgba(233, 233, 233, 0.466);
}

nav {
    margin: 0 auto;
    text-align: center;
}

a {
    text-align: center;
}

img {
    border: 1px solid black;
    width: 150px;
    height: 100px;
    margin: 20px auto;
    display: block;
}


h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.active {
    background-color: rgb(255, 255, 255);
    color: black;
}

.left {
    float: left;
}

aside {
    padding: 30px;
    margin: 0 20px 0 0;
    background-color: rgb(119, 117, 41);
}

p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

li {
    list-style-type: disc;
    list-style-position: inside;
}

/* Table */

table {
    width: 75%;
    border-spacing: 0;
    margin: 0 auto;
}

/* Style the table header */

tr > th {
    font-family: "Crimson Text", serif;
    background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
    color: white;
    padding: 2%;
    margin: 2%;
    border: 2px white solid;
    border-bottom: 4px #000000 solid;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Left align the text in the first column */

tr > td:first-child, tr >th:first-child {
    text-align: left;
}

/* Center align every column (1n) starting from the 2nd column */

tr > td:nth-child(1n + 2) {
    text-align: center;
}

/* Set opacity of the rows to 0.8 and 1 on row hover */
tr > td {
    opacity: .8;
    transition: opacity .8s;
}

tr:hover > td {
    opacity: 1;
}

/* Style the table data elements */

td {
    font-family: "Work Sans", serif;
    background-color: lightseagreen;
    padding: 1%;
    margin: 1%;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    border: 2px solid white;
}