/* 
  ========================================
  Custom Styles
  ========================================
*/

body {
  background: #293f50;
  color: #888;
  font: 300 16px/22px "Work Sans", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
  color: #648880;
  font-family: "Crimson Text", serif;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-size: 24px;
  line-height: 44px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px
}

h5 {
  font-weight: 400;
  font-size: 14px;
  color: #a9b2b9;
  text-transform: uppercase;
}

strong {
  font-weight: 400;
}

cite, em {
  font-style: italic;
}

/* 
  ========================================
  Links
  ========================================
*/

a:hover {
  color: #a9b2b9;
}

a {
  color: #648880;
  text-decoration: none;
}

p a {
  border-bottom: 1px solid #dfe2e5;
}

.primary-header a,
.primary-footer a {
  color: #fff
}

.primary-header a:hover,
.primary-footer a:hover {
  color: #648860;
}

/* 
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after { 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container,
.grid {
  margin: 0 auto;
  width: 960px;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

/* 
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}

/* 
  ========================================
  Rows
  ========================================
*/

.row,
.row-alt {
  min-width: 960px;
}

.row {
  background: #fff;
  min-width: 960px;
  padding: 66px 0 44px 0;
}

.row-alt {
  background: #cbe2c1;
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  padding: 44px 0 22px 0;
}


/* 
  ========================================
  Typography
  ========================================
*/

h1, h3, h4, h5, p {
  margin-bottom: 22px;
}

/* 
  ========================================
  Leads
  ========================================
*/

.lead {
  text-align: center;
}

.lead p {
  font-size: 21px;
  line-height: 33px;
}

/* 
  ========================================
  Buttons
  ========================================
*/

.btn {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0;
  text-transform: uppercase;
}

.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}

.btn-alt:hover {
  background: #fff;
  color: #648880;
}

/* 
  ========================================
  Home
  ========================================
*/

.hero {
  color: #fff;
  padding: 22px 80px 66px 80px;
  line-height: 44px;
  text-align: center;
}

.hero h2 {
  font-size: 36px;
}

.hero p {
  font-size: 24px;
  font-weight: 300;
}

.teaser a:hover h3 {
  color: #a9b2b9;
}

.teaser img {
  border-radius: 5px;
  display: block;
  margin-bottom: 22px;
  max-width: 100%;
}

/* 
  ========================================
  Primary Header
  ========================================
*/

.logo {
  border-top: 4px solid #648880;
  padding: 40px 0 22px 0;
  float: left;
  font-size: 48px;
  line-height: 44px;
}

.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
}

.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

/* 
  ========================================
  Primary Footer
  ========================================
*/

.primary-footer small {
  float: left;
  font-weight: 400;
}

.primary-footer {
  padding-bottom: 44px;
  padding-top: 44px;
  color: #648880;
  font-size: 14px;
}

/* 
  ========================================
  Column Layouts
  ========================================
*/

.col-1-3 {
  width: 33.33%;
}

.col-2-3{
  width: 66.66%;
}

.col-1-3, 
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}

.grid,
.col-1-3, 
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}

/* 
  ========================================
  Navigation
  ========================================
*/

.nav {
  text-align: right;
}

.nav a:hover {
  text-decoration: underline white;
  text-underline-offset: 0.5em;
}

.nav a.active {
  text-decoration: underline white;
  text-underline-offset: 0.5em;
}

.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}

.nav li:last-child {
  margin-right: 0;
}

/* 
  ========================================
  Thumbnails
  ========================================
*/

.thumbnail {
  max-width: 100%;
}

/* 
  ========================================
  Tables
  ========================================
*/

table {
  width: 100%;
  margin-bottom: 44px;
}

table:last-child {
  margin-bottom: 0;
}

tr > td:first-child {
  text-align: left;
}

tr > td:nth-child(1n + 2) {
  text-align: center;
}

tr > td {
  opacity: .8;
  transition: opacity 0.8s;
}

tr:hover > td {
  opacity: 1;
}

th, td {
  padding-bottom: 22px;
  vertical-align: top;
}

th {
  text-align: center;
  line-height: 44px;
  color: #648880;
  font-size: 24px;
  font-family: "Crimson Text", serif;
}

td {
  border-top: 1px solid #dfe2e5;
  padding-top: 21px;
  font-family: "Work Sans", serif;
}

td a:hover {
  text-decoration: underline;
  text-underline-offset: 0.25em;
}